<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" routerLink="/">Rubezh</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li>
                <a routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

<p-dialog header="Title" [(visible)]="display">
    {{ modalData | json }}
</p-dialog>